In [ ]:
Example=(11,"sumit",3.12,False,22)
print(Example)
print(len(Example))
print(type(Example))
print(Example.count(11))
print(Example[0:3])
print(Example[4])
print(Example[-1])
print(Example[::-1])

(11, 'sumit', 3.12, False, 22)
5
<class 'tuple'>
1
(11, 'sumit', 3.12)
22
22
(22, False, 3.12, 'sumit', 11)

In [ ]:
Number=(2,4,7,9,3,9,3,2)
print(Number)
Add=(2,4,5,7)
print(Number+Add)
print(Add*4)
print(type[0:5])

(2, 4, 7, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)
type[slice(0, 5, None)]

In [ ]:
Example={1,1,2,3,4,5,6}
print(Example)
print(type(Example))
print(len(Example))
Example.add(10)
print(Example)
Example.add("sumit")
print(Example)
print(type(Example))
Example={1,2,2,3,4,4,5,6,7}
print(Example)
print(type(Example))
print(len(Example))
Example.add("BKC")
print(Example)
Example.add(5.67)
print(Example)
Example.add("True")
print(Example)
Example.remove(4)
print(Example)
print(Example.pop())
print(Example)

{1, 2, 3, 4, 5, 6}
<class 'set'>
6
{1, 2, 3, 4, 5, 6, 10}
{1, 2, 3, 4, 5, 6, 'sumit', 10}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 5.67, 'True', 'BKC'}
{1, 2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}
1
{2, 3, 5, 6, 7, 5.67, 'True', 'BKC'}

In [ ]:
first={1,2,3,4,4,2}
second={3,5,4,6}
print(first|second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first-second)
print(first.difference(second))
print(second-first)
print(second.difference(first))

In [ ]:
Dict={"Roll_number":201,"Name":"Raichur","CGP":7.53,"Course":"MCA","Year":2022}
print(Dict)
print(len(Dict))
Dict["Gender"]="Male"
print(Dict)
Dict["College "]="BKC"
print(Dict)
Dict["College"]="BK BCA"
print(Dict)
del Dict["Gender"]
print(Dict)
Dict["Gender"]="Male"
print(Dict)
print(Dict["College"])
Dict["Age"]=26
print(Dict)
print(Dict["Age"])
Dict["Address"]="shirguppi"
print(Dict)
del Dict["Address"]
print(Dict)
Dict.popitem()
print(Dict)
print(Dict.keys())
print(Dict.values())
print(Dict.item())
print(Dict.clear())