In [5]:
a,b,c ="Good","Morning","sir"
print(a,b,c)

Good Morning sir

In [13]:
Name , College , Degree , Roll="Sumit Tanaji Lagale","Bk","BCA",178
print("Hi,Good morning,I'm",Name,"i'm studying",Degree,"in",College,"college at chikodi","My roll number is",Roll)

Hi,Good morning,I'm Sumit Tanaji Lagale i'm studying BCA in Bk college at chikodi My roll number is 178

In [84]:
x=y=z=1001
print(x,y,z)

1001 1001 1001

In [16]:
a=b=c="college",25
print(b,c,a)

('college', 25) ('college', 25) ('college', 25)

In [18]:
a=10
b=20
print("addition of ",a,"and",b,"is",a+b)

addition of  10 and 20 is 30

In [19]:
 a=10
 print(type(a))

<class 'int'>

In [20]:
x=35
print(type(x))

<class 'int'>

In [21]:
x=-100
print(type(x))

<class 'int'>

In [22]:
s=+200
print(type(+200))

<class 'int'>

In [24]:
m=3.33
print(type(m))

<class 'float'>

In [25]:
sumit=11.345
print(type(sumit))

<class 'float'>

In [86]:
first ="BK"
second ="college"
print(((first+" "+second)+"\n")*5)

BK college
BK college
BK college
BK college
BK college

In [91]:
Name ="python programming language"
print(Name[5])
print(Name[-2])
print(Name[6])
print(Name[3:14])

n
g

hon program
python programming l

In [102]:
Name ="python programmig languages"
print(Name[6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])

 programmig languages
python programmig language
n programmig langu
python programmig languages
pto rgamglnugs
segaugnal gimmargorp nohtyp
san mrrnt

In [106]:
Details='''multi line comments
hi,Good Morning
'''
print(Details)

multi line comments
hi,Good Morning

In [115]:
Roll=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,2,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60
print(Roll)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60)